.l-heading{
    font-size: 2.5rem;
    line-height: 1.2;
}
.lead{
    font-size: 1rem;
}
#about .about-content{
    display: block;
    text-align: center;
}
#about .about-content img{
    width: 100%;
    margin: 1rem o o ;
}
#navbar{
    flex-direction: column;
    padding-bottom: 1.5rem;
}
#navbar .logo{
    margin-bottom: 1rem;
}
#programs .boxes{
    display: block;
}
#trainers .trainers-boxes{
    display: block;
}
#contact{
    flex-direction: column;
    height: 1000px;
}
@media (max-width:500px){
    
    #navbar .ul{
        display: block;
        text-align: center;
    }
    #navbar ul li{
        padding: 0.5rem;
    }
    #contact .contact-us {
        display: block;
    }
}